Source: postmark
Section: utils
Priority: extra
Maintainer: Noël Köthe <noel@debian.org>
Standards-Version: 3.8.2
Build-Depends: debhelper (>> 5.0.0)

Package: postmark
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: File system benchmark from NetApp
 Benchmark that's based around small file operations similar to those used on
 large mail servers and news servers.  Has been ported to NT so should be good
 for comparing OSs. "Postmark: a new file system benchmark", Jeffrey Katcher,
 Network Appliance Technical Report TR-3022, October 1997

